@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(45deg, #007f7f 0%, #001f3f 75%, #ff7f00 100%);
    background-size: 300% 300%; /* Aumenta o tamanho do background para dar mais espaço ao movimento */
    animation: gradientAnimation 15s ease infinite; /* Define a animação */
    height: 100vh; /* Para cobrir toda a altura da página */
    margin: 0; /* Remove a margem padrão */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f2f2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    
    border: 5px solid #00000070;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    border: none;
    padding: 5px;
}

button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.275rem;
    color: #f2f2f2;
    background-color: #001f3f;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #007f7f;
}